ServerConfig.vdf
*.pdb
cfg/config.cfg
cfg/server_blacklist.txt
cfg/settings.scr
demoheader.tmp
downloadlists/
maps/graphs/
modelsounds.cache
sound.cache
sound_workshop/
stats.txt
voice_ban.dt
scenes.vpk.sound.cache
textwindow_temp.html
download/